*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
  color: black;
} 
.dark-mode{
  background-color: black;
  color: white;
}

.navbar-brand{
  font-weight: bold;
  color: orangered;
}
.nav-item a:hover{
  background-color: rgb(235, 114, 70);
  border: 1px solid orangered;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition-timing-function: linear;
  transition-duration: 0.6s;
}
.nav-item a{
  font-weight: bold;
}
.slo{
  font-size: 20px;
}
img{
  height: 250px;
  width: 250px;

 
}
.image{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  
}
.profile{
 
  text-align: center;
  
}
.pro{
  margin-top: 40px;
}
.mypro{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: orangered;
 
  margin-left: 20px;
  padding: 2px;
}
.rose{
  font-size: 50px;
  font-weight: bold;
  color: orangered;
  padding: 5px;
}
.role{
  font-size: 35px;
  font-weight: bold;
  padding: 5px;
}
.name{
  text-align: center;
  padding: 10px;
  line-height: 70px;
  margin-top: 60px;
}
.intro{
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.aboutme{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  padding: 2px;
}
.ro{
  height: 450;
  width: 450;
  margin-top: 30px;
  padding: 2px;
  
  
}
.ros{
  text-align: center;
  margin-top: 30px;
  padding: 2px;
}
.aboutsec{
  margin-top: 70px;
  padding: 2px;
  background-color: rgb(253, 130, 85);
  color: white;
  border-radius: 10px;
}
.explain{
  justify-content: center;
  font-weight: bold;
  line-height: 50px;
  padding: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.quali{
  font-weight: bold;
  text-align: center;
  padding: 2px;
}
.edu{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: orangered;
  padding: 2px;
}
.sslc {
  
  text-align: center;
  font-size: 18px;
  margin-top: 60px;
  padding: 5px;
 /* border-right: 1px solid orangered;
  border-left: 1px solid orangered;*/
}
.sslc:hover{
  border: 1px solid orangered;
 
}
.high{
  
  text-align: center;
  font-size: 18px;
  margin-top: 60px;
  padding: 5px;
  
  
}
.high:hover{
  border: 1px solid orangered;

}

.deg{

  text-align: center;
  font-size: 18px;
  margin-top: 60px;
  padding:5px;
  /*border-right: 1px solid orangered;
  border-left: 1px solid orangered;*/

 
}
.deg:hover{
  border: 1px solid orangered;
 
}
.qualification{
  margin-top: 100px;
  padding: 2px;
  
}
.education{
  line-height: 30px;
  margin-top: 20px;
}
.hsc{
  line-height: 30px;
  margin-top: 20px;
}
.degree{
  line-height: 30px;
  margin-top: 20px;
}
.skill{
  text-align: center;
  margin-top: 100px;
}
.sk{
  font-weight: bold;
  padding: 2px;
}
.myskill{
  font-size: 35px;
  font-weight: bold;
  color: orangered;
  padding: 2px;

}
i{
  font-size: 50px;
  color: orangered;
}
.skills1{
padding: 30px;
margin-top: 60px;
border: 1px solid orangered;
margin-left: -5px;
margin-right: 7px;
border-radius: 15px;
text-align: center;

}
.skills2{
  padding: 30px;
  margin-top: 60px;
  border: 1px solid orangered;
  margin-left: -5px;
  margin-right: 7px;
  border-radius: 15px;
  text-align: center;
  }
  
.skills3{
  border: 1px solid orangered;
  padding: 30px;
  margin-top: 60px;
 margin-left: -5px;
  margin-right: -5px;
  border-radius: 15px;
  text-align: center;
  
}
.skills4{
  border: 1px solid orangered;
  padding: 30px;
  margin-top: 60px;
  margin-left: -5px;
  margin-right: 7px;
  border-radius: 15px;
  text-align: center;
}
.skills5{
  border: 1px solid orangered;
  padding: 30px;
  margin-top: 60px;
  margin-left: -5px;
  margin-right: 7px;
  border-radius: 15px;
  text-align: center;

}
.skills6{
  border: 1px solid orangered;
  padding: 30px;
  margin-top: 60px;
  margin-left: -5px;
  margin-right: -5px;
  border-radius: 15px;
  text-align: center;
}

.skills1:hover{
  background-color: rgb(255, 152, 114);
  color: white;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  
}

.skills1 i:hover{
  color: white;
}
.skills2:hover{
  background-color: rgb(255, 152, 114);
  color: white;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  
}

.skills2 i:hover{
  color: white;
}
.skills3:hover{
  background-color: rgb(255, 152, 114);
  color: white;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  
}

.skills3 i:hover{
  color: white;
}
.skills4:hover{
  background-color: rgb(255, 152, 114);
  color: white;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  
}

.skills4 i:hover{
  color: white;
}
.skills5:hover{
  background-color: rgb(255, 152, 114);
  color: white;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  
}

.skills5 i:hover{
  color: white;
}
.skills6:hover{
  background-color: rgb(255, 152, 114);
  color: white;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  
}

.skills6 i:hover{
  color: white;
}
.contact{
  text-align: center;
  margin: 50px;
}
.touch{
  font-size: 35px;
  font-weight: bold;
  color: orangered;
  padding: 2px;
}
.contacts{
  margin-top: 80px;
}

.fname{
  width: 70%;
  height: 40px;
  border: 1.5px solid orangered;
  border-radius: 5px;
  background-color: transparent;
 
}
.mail{
  width: 70%;
  height: 40px;
  margin-top: 20px;
  border: 1.5px solid orangered;
  border-radius: 5px;
  background-color: transparent;
}
#message{
  width: 70%;
  height: 120px;
  margin-top: 20px;
  border: 1.5px solid orangered;
  border-radius: 5px;
  background-color: transparent;
}
.but{
  width: 70%;
  height: 40px;
  margin-top: 20px;
  border: 1.5px solid orangered;
  background-color: orangered;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.but:hover{
 background-color: rgba(255, 68, 0, 0.733);
}
.details{
  margin-top: 80px;
}
.icons{
  display: flex;
  justify-content: end;

}
.mo i{
  font-size: 25px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
}

.ins i{
  font-size: 25px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
 
}

.git i{
  font-size: 25px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
}

.gm i{
  font-size: 25px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
}
.mo i:hover{
 font-size: 28px;
}
 .ins i:hover{
  font-size: 28px;
 }
 .git i:hover{
  font-size: 28px;
 }
 .gm i:hover{
  font-size: 28px;
 }
 .mypro i{
  font-size: 30px;
  padding: 2px;
  margin-right: 15px ;
 
 }
 .aboutme i{
  font-size: 30px;
  padding: 2px;
  margin-right: 15px ;
  color: white;
 }
 .edu i{
  font-size: 30px;
  padding: 2px;
  margin-right: 15px ;
 }
 .myskill i{
  font-size: 30px;
  padding: 2px;
  margin-right: 15px ;
 }
.touch i{
  font-size: 30px;
  padding: 2px;
  margin-right: 15px ;
}
.calls i{
  font-size: 20px;
  padding: 2px;
  margin-right: 15px ;
}
.mails i{
  font-size: 20px;
  padding: 2px;
  margin-right: 15px ;
}
.location i{
  font-size: 20px;
  padding: 2px;
  margin-right: 15px ;
}
.end{
  text-align: center;
  margin-top: 150px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.na{
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
}
.inf{
  font-size: 18px;
  padding: 2px;
}
.conic{
  justify-content: center;
  margin-top: 20px;
  
}
.fb i{
  font-size: 30px;
  padding: 10px;
  color: white;
}
.in i{
  font-size: 30px;
  padding: 10px;
  color: white;
}
.tw i{
  font-size: 30px;
  padding: 10px;
  color: white;
}
.fb i:hover{
  color: rgb(173, 166, 166);
  font-size: 32px;
}
.in i:hover{
  color: rgb(173, 166, 166);
  font-size: 32px;
}
.tw i:hover{
  color: rgb(173, 166, 166);
  font-size: 32px;
}